// ---------------------------1 navigation --------------

nav {
    width: 100%;
    margin-top: 65px;
    border-top: 1px solid rgb(183, 183, 183);
    padding: 25px;
        .wrapper {
            display: flex;
            justify-content: space-between;
        }
        a {
            text-transform: uppercase;
            padding-right: 15px;
            text-decoration: none;
            color: black;
            font-size: 18px;
        }
        a:hover {
            color: red;
            transition: .4s all ease-in-out;
        }
}


nav a:first-child{
    color: red;
}
header img {
    width: 300px;
}


// --------------- 2 swiper --------------------
.swiperImg {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    img {
        width: 100%;
        
        position: relative;
  
    }
}

.filterImg::before {
    content: '';
    @include posabs;
    background-color: rgba(5, 5, 5, 0.431);
    z-index: 1;
   
}
.swipWrap{
   position: relative;
   
}
.swipAbsolute{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%,-50%);
    z-index: 10;

    .bgRed {
        color: white;
        background: red;
        padding: 5px;
        }
    a {
        color: white;
    }
    a:hover:not(a:nth-of-type(1)) {
        color: red;
        transition: .4s all ease-in-out;
    }
    h3 {
        font-size: 35px;
        margin-bottom: 0;
    }
    span {
        color: white;
        font-style: italic;
    }
   
} 