


// 3---------- blog en grid

// global
.borderH5 {
    border-bottom: 1px solid grey;
   
}

.marginBloc {
    margin-top: 30px;
}
// fin global

.blocDeBlog {
    display: grid;
    grid-template-columns: 700px 300px;
   justify-content: space-around;
    align-items: start;
    gap: 80px;
    width: 50%;
    margin: 80px auto;
}

// partie 1
.blogFlag {
    width: 100%;
    margin-bottom: 30px;
    div {
        margin-bottom: 40px;
    .btnTop {
        padding: 5px;
        background: red;
        color: white;
    }
    h4 {
        font-family: 'PT Serif', serif;
        font-size: 35px;
        font-weight: 400;
    }
    span {
        font-style: italic;
        color: grey;
    }
    }
    img {
        width: 700px;
    }
    p {
        color: grey;
        line-height: 1.8;
        font-size: 18px;
        font-weight: 300;
    }
    .btnSocial{
        display: flex;
        justify-content: space-between;
        align-items: center;
       .btnBottom {
        border: 1px solid black;
        padding: 15px 35px;
        color: black;
        text-transform: uppercase;
        font-family: 'PT Serif', serif;
    }
    div {
        width: 30%;
        display: flex;
        justify-content: space-between;
       align-items: flex-end;
       a {
       font-size: 20px;
       color: grey;
       }
      
    }
    }
  
}
.blogTodays {
    width: 100%;
    margin-bottom: 30px;
    a:nth-of-type(1) {
        padding: 5px;
        background: red;
        color: white;
        align-self: flex-start;
    }
    img {
        width: 250px;
    }
    h5 {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 400;
    }
    .blogTodaysGrid {
       
        display: grid;
        grid-template-columns: repeat(2, 1fr);

       .wrapBlogTodays {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
            a:nth-of-type(2) {
                color:black;
                font-size: 25px;
                font-family: 'PT Serif', serif;
            }
            a:nth-of-type(3) {
                color: black;
            }
        p {
            font-size: 16px;
        }

       }
     
    }
}
// 3---- breaking news en absolute

.wrapNews {
    position: relative;
        img {
        width:100%;
    }
    .breakingAbs {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
       
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
}
.titleNews {
    align-self: flex-start;
    background: red;
        h6 {
            margin: 0;
            padding: 5px;
            color: white;
        }
        h6::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 22.5px;
            background: rgba(0, 0, 0, 0.532);
            z-index: -1;
        }
}
.txtNews {
    width: 70%;
    margin-left: 15px;
    text-align: left;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    position: relative;
}


// 4 --- bloc don't miss
.blogDontMiss {
    margin-bottom: 30px;
    h5 {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 400;
    }
    img {
        width: 69px;
    }
}
.spaceEu {
    margin-bottom: 15px;
}
.wrapEu {
    display: flex;
    flex-direction: column;
   
}
.flexEu {
    width: 80%;
    display: flex;
    justify-content: space-between;
    line-height: 25px;

    a {
        color: black;
        font-family: 'PT Serif', serif;
    }
    a:hover {
        color: red;
        transition: .3s all ease-in-out;
    }
    span {
        color: grey;
        font-size: 13px;
        font-style: italic;
    }
}


.blogAdvert {
    color: black;
    h5 {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 400;
    }
    img {
        width: 255px;
    }
}

.blogSubscribe {
    .inputEmail{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    h5 {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 400;
    }
    input {
        width: 100%;
        padding: 15px;
        background:#f5f5f5;
        border: none;
        color: grey;
    }
    a {
        text-align: center;
        text-transform: uppercase;
        padding: 15px;
        background: red;
        color: white;
    }
}



// 4 blog en grid plus petit

.suiteDeTitres {
    width: 100%;
    margin: 0 auto;
    .wrapper {
      display: grid;
      
    }
}

.article1 {
    
    img {
        width: 350px;
    }
    a {
        font-family: 'PT Serif', serif;
        font-size: 20px;
        color: black;
    }
  
    .borderArticle {
        border-bottom: 1px solid rgb(162, 160, 160);
        color: grey;
        line-height: 45px;
        font-style: italic;
        font-size: 14px;
    }

}
// ---------global

.video {
    margin: 20px 0;
}

.video a{
    background: red;
    padding: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    align-self: flex-start;
}
.article2, .article3 {
    width: 80%;
    a:not(.article2 a:first-child, .article3 a:first-child) {
        color: black;
    }
    h6 {
        font-family: 'PT Serif', serif;
        font-size: 20px;
        font-weight: 400;
        margin: 0;

    }
}
.dateArticle {
    color: grey;
    line-height: 45px;
    font-style: italic;
    font-size: 14px;
}
//  -------------end global
.article2 {
    img {
        width:160px;
    }

}
.article3 {
    h6 {
        font-family: 'PT Serif', serif;
    }
    img {
        width:160px;
    }
}
// 5 grid avant footer
.wrapBeforeFooter {
    width: 100%;
    height: 600px;
    background: rgb(247, 242, 242);
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
   
    position: relative;    
}
.wrapPlayImg {
    position: relative;
    .btnPlay {
        z-index: 10;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        a {
            color: white;
        }
    }
    .imgPlay {
        position: relative;
        height: 155px;
        img{
        height: 100%;
    }
    }
    
    .imgPlay:hover::before {
        content: '';
        @include posabs;
        background: rgba(0, 0, 0, 0.474);
        cursor: pointer;
        z-index: 1;
    }
}
.commentPlay {
        
    a{
        cursor: none;
    color: black;
    font-size: 20px;
    line-height: 25px;
    z-index: 10;
}
}